<div class="container-fluid mt-3">
    <form [formGroup]="officeTimeForm" (ngSubmit)="onSubmit()">
        <h1>Office Timings</h1>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-2">
                <h3>From Time</h3>
                <ngb-timepicker formControlName="fromTime" [readonlyInputs]="toTime.invalid"></ngb-timepicker>
                <div *ngIf="fromTime.hasError('tooEarly')">early</div>
            </div>
            <div class="col-xs-12 col-sm-2">
                <h3>To Time</h3>
                <ngb-timepicker formControlName="toTime" [readonlyInputs]="fromTime.invalid"></ngb-timepicker>
            </div>
            <div class="col-xs-12 col-sm-8"></div>
        </div>

        <!-- Warning Section, will only appear if there are errors-->
        <div class="row mt-3 error-area">
            <div class="col-xs-12 col-sm-4">
                <div *ngIf="fromTime.hasError('invalidHours')">
                        <ngb-alert [dismissible]="false" class="text-center">
                            <strong>Warning!</strong>These are Invalid Office Hours. Valid From Time 09:00 AM to 11:00
                            AM
                        </ngb-alert>
                </div>
                <div *ngIf="toTime.hasError('invalidHours')">
                        <ngb-alert [dismissible]="false" class="text-center">
                            <strong>Warning!</strong>These are Invalid Office Hours. Valid To Time 08:00 PM to 10:00 PM
                        </ngb-alert>
                </div>
                <div *ngIf="toTime.hasError('lessThanFrom')">
                        <ngb-alert [dismissible]="false" class="text-center" [type]="'danger'">
                            <strong>Warning!</strong>To Time Cannot Be Less Than From Time
                        </ngb-alert>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-xs-12 col-sm-4">
                <button class="btn btn-block btn-primary" [disabled]="!officeTimeForm.valid">Submit</button>
            </div>
        </div>
    </form>
</div>